DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=true
CSRF_TRUSTED_ORIGINS=http://localhost:8000

POSTGRES_DB=siaheh
POSTGRES_USER=siaheh
POSTGRES_PASSWORD=siaheh
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://:redispass@redis:6379/0
REDIS_PASSWORD=redispass

JWT_ACCESS_TOKEN_LIFETIME_MINUTES=30
JWT_REFRESH_TOKEN_LIFETIME_DAYS=30

USE_S3=false
ARVAN_ENDPOINT_URL=https://s3.ir-thr-at1.arvanstorage.ir
ARVAN_ACCESS_KEY_ID=
ARVAN_SECRET_ACCESS_KEY=
ARVAN_STATIC_BUCKET=siaheh-static
ARVAN_MEDIA_BUCKET=siaheh-media
ARVAN_STATIC_CUSTOM_DOMAIN=
ARVAN_MEDIA_CUSTOM_DOMAIN=
ARVAN_STATIC_LOCATION=static
ARVAN_MEDIA_LOCATION=media

KAVENEGAR_API_KEY=
KAVENEGAR_TEMPLATE=
KAVENEGAR_SENDER=

APP_VERSION_LATEST=1.0.0
APP_VERSION_MIN=1.0.0
APP_UPDATE_URL=
